<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Vos trajets bus et mobilité à Limoges, plus clairs et plus fiables." />
    <meta name="theme-color" content="#f97316" />
    <title data-inertia>Limopti</title>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body>
    @inertia()
  </body>

</html>
